<!-- ========================= INTRO SECTION ============================== -->
<section id="intro" class="parallax-section">

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12">

        <h2 class="wow bounceIn nome_descritivo" data-wow-delay="0.9s">Experiences abroad<br>leads you to fluency</h2>
      </div>

    </div>
  </div>
</section>
        <!-- ========================= ABOUT US SECTION ============================== -->
        <section id="overview" class="parallax-section">

            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        
                        <h2 class="wow bounceIn nome_descritivo" data-wow-delay="0.3s">Programs designed<br> for very small groups <br>or one-to-one</h2>
                        
                    </div>

                </div>
            </div>
        </section>

        <section id="imagem" class="parallax-section">

            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        
                         <h2 class="wow bounceIn nome_descritivo" data-wow-delay="0.3s">Put your skills into practice <br>as you enjoy life <br>in an English-speaking city</h2>
                        
                    </div>

                </div>
            </div>
        </section>
        
        <section id="last" class="parallax-section">

            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        
                        <h2 class="wow bounceIn nome_descritivo" data-wow-delay="0.3s">What matters is <br>the experiences, the relationships, <br>the discoveries.</h2>
                        
                    </div>

                </div>
            </div>
        </section>
        
          <section id="fluent" class="parallax-section">

            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        
                        <h2 class="wow bounceIn nome_descritivo" data-wow-delay="0.3s">MAKING LEARNERS ABSOLUTLY FLUENT.</h2>
                        
                    </div>

                </div>
            </div>
        </section>