  <!-- =========================
      VENUE SECTION
  ============================== -->
  <section id="investmentvenue" class="parallax-section">
  	<div class="container">
  		<div class="row">
  			<div class="wow fadeInLeft col-md-offset-1 col-md-5 col-sm-8" style="margin-bottom: 10.5vh" data-wow-delay="0.9s">

	
			<h2>Low Cost</h2>
      <p>Knowing the importance of offering you a low cost language immersion program that suits your budget and make this experience abroad possible we have carefully designed tours to change the way you see the world. From now on you have no excuses to delay  the dream of actually acquiring English fluency. </p>


      </div>  <!-- venue -->
    </div>   <!-- venue -->
  </div> <!-- venue -->
    </section> <!-- venue -->

  			<!--<div class="wow fadeInUp col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10" data-wow-delay="0.9s">-->
  			<!--	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">-->

    				<!--	<div class="panel panel-default">
     						<div class="panel-heading" role="tab" id="headingOne">
        						<h4 class="panel-title">
          						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            							 Program
          						</a>
        						</h4>
      					</div>
     						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        						<div class="panel-body">
          						<p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque, curabitur dolor libero sodales vitae elit massa. Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet.</p>
  								<p>Nunc eu nibh vel augue mollis tincidunt id efficitur tortor. Sed pulvinar est sit amet tellus iaculis hendrerit. Mauris justo erat, rhoncus in arcu at, scelerisque tempor erat.</p>
        						</div>
     						 </div>
   					</div>

      				<div class="panel panel-default">
     						<div class="panel-heading" role="tab" id="headingTwo">
        						<h4 class="panel-title">
          						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            							Enrolment Fee
          						</a>
        						</h4>
      					</div>
     						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        						<div class="panel-body">
                              	<p>Nunc eu nibh vel augue mollis tincidunt id efficitur tortor. Sed pulvinar est sit amet tellus iaculis hendrerit. Mauris justo erat, rhoncus in arcu at, scelerisque tempor erat.</p>
          						<p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque, curabitur dolor libero sodales vitae elit massa. Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet.</p>
        						</div>
     						 </div>
   					</div>

   					<div class="panel panel-default">
     						<div class="panel-heading" role="tab" id="headingThree">
        						<h4 class="panel-title">
          						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            							Medical and travel insurance
          						</a>
        						</h4>
      					</div>
     						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        						<div class="panel-body">
                              	<p>Aenean vulputate finibus justo et feugiat. Ut turpis lacus, dapibus quis justo id, porttitor tempor justo. Quisque ut libero sapien. Integer tellus nisl, efficitur sed dolor at, vehicula finibus massa.</p>
          						<p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque, curabitur dolor libero sodales vitae elit massa. Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet.</p>
        						</div>
     						 </div>
   					 </div>

   				 </div>
  			</div> -->

  	<!--	</div>-->
  	<!--</div> -->
