<!-- Só pra commitar -->
<section id="next-trip">
  <div class="container">
    <div class="row">
      <div class="wow bounceIn col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 text-center animated" style="visibility: visible; animation-name: bounceIn;">
        <div id "trips" class="section-title">
          <h2>Next Trips</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <img id="Foto-NY" class="tour-itinerary-preview-map img-responsive center-block" src="\images\jerry-kiesewetter-192478-unsplash.jpg">
        <p id="text">With the most famous and trendy attractions in the world such as the bright lights of Times Square and Broadway,
          Central Park, The Empire State Building, The High Line, One World Observatory, restaurants and bars there`s
          much more than the obvious sights. Explore the city and take advantage of what the Big Apple has to help
          you improve your fluency.
        </p>
        <img id="Foto-Miamy" class="tour-itinerary-preview-map img-responsive center-block" src="images\vonecia-carswell-613625-unsplash.jpg">
        <p>As usual choosing exciting cities Miami could not be out of the list. Any local or even visitors know, the
          best things to do in Miami extend beyond lounging on the sand. Of course, Miami is famous for its Art Deco
          architecture but it`s not only that, besides the U.S. host city of Art Basel Miami Beach we find, Downtown
          Miami the bustling city center, Miami Design District and Little Havana, the vibrant cultural scene. Check
          off these essential experiences with a small group of learners improving their English fluency.
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <p class="text-center"><strong>Fly overnight to England</strong></p>      
          <p class="text-center"><strong>Day 2: London</strong></p>  
          <p>Meet your Tour Director at the airport
            Take a walking tour of London
            With your Tour Director you will see:
          </p>
          
          <ul>
            <li>Trafalgar Square</li>
            <li>Leicester Square</li>
            <li>Covent Garden</li>
            
          </ul>

      </div>
    </div>
  </div>
</section>