<footer id="">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left">
			<p class="usit-footer">
				<small class="block">&copy; 2018 XPRENCIT. All rights reserved.&nbsp;&nbsp;&nbsp;</small>
				<a href="PRIVACY POLICY  Xprencit.pdf" target="_blank">
					<small style="color:#a6a8a6;">Terms & Conditions</small>
				</a>
			</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="contact-socials text-right">
				<a class="contact-icons" href="#" >
					<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
				</a>
				<a class="contact-icons" href="#">
					<i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
				</a>
				<a class="contact-icons" href="#">
					<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
				</a>
				<a class="contact-icons" href="#">
					<i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
</footer>
