<div class="navbar navbar-fixed-top custom-navbar" role="navigation" style="width:100%;">
	<div class="container">

		<!-- navbar header -->
		<div>
			<div class="row ">
				<div class="col-md-2 col-xs-11">
					<a href="/"><img src="/images/logo-medium.png" class="responsive" alt=""></a>
			</div>
			<br>

			<div class="col-xs-12 col-sm-6 col-md-8 text-right">
				<div class="dropdown">
					<li class="upper-links dropdown">
						<a class="links" style="color:black;">
							<h4 class="text-right">Language Immersion Tours</h4>
						</a>
						<div class="dropdown-content">
							<div class="dropdown-nested">
								<a href="javascript:void(0)" onclick="myFunction()" class="dropbtn">EXPERIENCE IT &#x25BC;</a>
								<div id="myDropdown" class="dropdown-content">
									<a class="aa profile-links" style="color:black;" href="" data-backdrop="false" data-toggle="modal" data-target="#myModal1">WHAT</a>
									<a class="aa profile-links" style="color:black;" href="" data-backdrop="false" data-toggle="modal" data-target="#myModal2">WHY</a>
									<a class="aa profile-links" style="color:black;" href="" data-backdrop="false" data-toggle="modal" data-target="#myModal3">HOW</a>
								</div>
							</div>
							<a class="profile-links" href="/about">ABOUT US</a>
							<!--<a class="profile-links" href="/accommodation">NEXT TRIPS</a>-->
							<a class="profile-links" href="/investment">LOW COST</a>
							<a class="profile-links" href="/contacts">CONTACT US</a>
						</div>
					</div>
				</div>

				<!--<div class="col-xs-12 col-sm-6 col-md-8 text-right">-->
				<!--<li class="upper-links dropdown"><a class="links" style="color:black;"><h4 class="text-right">Language Immersion Tours</h4></a>-->
				<!-- <ul class="dropdown-menu">-->

				<!-- <li class="profile-li dropdown"><a href="#">EXPERIENCE IT</a> </li>-->
				<!-- <li>-->
				<!-- <ul class="dropdown-menu">-->

				<!-- <li class="profile-li">-->
				<!-- <a class="profile-links" style="color:black;" href="" data-toggle="modal" data-target="#myModal1">WHAT</a>-->
				<!-- </li>-->
				<!-- <li class="profile-li">-->
				<!-- <a class="profile-links" style="color:black;" href="" data-toggle="modal" data-target="#myModal2">WHY</a>-->
				<!-- </li>-->
				<!-- <li class="profile-li">-->
				<!-- <a class="profile-links" style="color:black;" href="" data-toggle="modal" data-target="#myModal3">HOW</a>-->
				<!-- </li>-->
				<!-- </ul>-->
				<!-- </li>-->

				<!-- <li class="profile-li"><a class="profile-links" href="/about">ABOUT US</a></li>-->
				<!-- <li class="profile-li"><a class="profile-links" href="/accommodation">NEXT TRIPS</a></li>-->
				<!-- <li class="profile-li"><a class="profile-links" href="/investment">LOW COST</a></li>-->
				<!-- <li class="profile-li"><a class="profile-links" href="/contacts">CONTACT US</a></li>-->
				<!--</div>-->

				<div class="modal fade" id="myModal1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close"  data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
								</button>
								<h3 class="modal-title">What</h3>
							</div>
							<div class="modal-body">
								<p>We believe that every second language learner needs to put what they’ve studied for long time in practice but did not have the opportunity so far. International experiences must be part of your education, whatever your goals, it opens doors and
									will make you more competitive in the labor market. To make this experience possible with low prices is our main goal.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="myModal2">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
								</button>
								<h3 class="modal-title">Why</h3>
							</div>
							<div class="modal-body">
								<p>We believe that every second language learner needs to put what they’ve studied for long time in practice but did not have the opportunity so far. International experiences must be part of your education, whatever your goals, it opens doors and
									will make you more competitive in the labor market. To make this experience possible with low prices is our main goal.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="myModal3">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
								</button>
								<h3 class="modal-title">How</h3>
							</div>
							<div class="modal-body">
								<p>Through an interview we organize small groups according to the level and interest of the learners. What you should keep in mind is that you must communicate full time in the language at hand right from the beginning of the process like we’re doing
									now. This effort is one of the main ensures you the quality of our service.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>